section.promo
  div.promo__wrapper
    div.promo__banner.promo__banner--left
      video(
        preload='auto'
        loop
        playsinline
        muted
        autoplay
        poster='./assets/images/promo-gallery-3.png'
      ).promo__video
        source(src='./assets/documents/promo-1.mp4')

    div.promo__banner.promo__banner--right
      video(
        preload='auto'
        loop
        playsinline
        muted
        autoplay
        poster='./assets/images/promo-gallery-1.png'
      ).promo__video
        source(src='./assets/documents/promo-2.mp4')

    div.promo__banner.promo__banner--center
      video(
        preload='auto'
        loop
        playsinline
        muted
        autoplay
        poster='./assets/images/our-mission-1.png'
      ).promo__video
        source(media='(min-width: 767px)' src='./assets/documents/promo-3-desktop.mp4')
        source(src='./assets/documents/promo-3-mobile.mp4')

    div.promo__black-overlay
