mixin layout(props)
  section.layout(class=props.mixin id=props.id)
    div.container 
          
      if props.title
        div.scroll-reveal.layout__header
          h2.layout__title!=props.title
          if props.postTitle
            p.layout__post-title!=props.postTitle

      div.layout__wrapper
        block

      if props.action
        div.layout__action
          img(src="./assets/images/icon-locked.svg" width='44' height='44' alt="")
          button(type='button' data-type='access' data-id='012').button-request.button
            span.button__wrapper=props.action
